{
	"singleQuote": true,
	"semi": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": ["**/*.yml", "**/*.yaml"],
			"options": {
				"useTabs": false
			}
		}
	]
}
